* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {}

.hero {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #83B8D7, #BAA6FD);
    display: grid;

}

#calendar {
    width: 90%;
    margin: 40px auto;
}
